<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">Acerca de mi</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt necessitatibus quae eius asperiores atque voluptas sint deleniti molestias repudiandae sit ducimus magnam laboriosam, accusantium quis dignissimos ipsum nemo ratione perspiciatis.</p>
</section>
