---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Acerca de mi">Acerca de mi
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sit dolor optio iure voluptas, praesentium voluptatem laboriosam, ipsum tempore veniam quod nostrum, temporibus dolores. Laboriosam, ratione doloribus. Provident sint vitae dolorem iure praesentium velit quas facere beatae ullam illum nam porro accusantium, ad qui fuga est saepe maxime iste enim aspernatur dolores magnam voluptate itaque a. Ullam officia animi vel reprehenderit minima cum deserunt cumque saepe illum doloremque dicta quis sint corrupti, consequatur libero voluptatem! Quia autem soluta neque, at, natus vero laborum suscipit unde minima non dolore, ex cupiditate eum distinctio optio enim sit numquam rerum inventore. Repellendus, praesentium?</p>
</Layout>